

body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #e8ebdf;
    font-family: 'Comfortaa';
  }

  h1, h2, h3, h4 {
    font-family: 'Comfortaa';
  }

  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: 'Comfortaa';
  }
  
  #header {
    font-weight: bold;
    padding: 10px;
    color: #914c39;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header button {
    background-color:#926d62;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    color: #303b32;
  }
  #weekdays div {
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  .day {
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #F7F0E4;
    box-shadow: 0px 0px 3px #AFB2A1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #efe2ca;
  }

.day.currentDay {
  background-color: #e9c6b2;
  border: 2px solid #c5a290;
}

.day.currentDay:hover {
  background-color: #dbb29c;
}
  .event {
    font-size: 10px;
    padding: 2px 8px;
    background-color: #926d62;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
    border: 1px solid #7c6761;
  }
  .padding {
    cursor: default !important;
    background-color: #e8ebdf !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8ebdf;
    box-shadow: 0px 0px 3px #AFB2A1;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
  }

  .eventInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px #AFB2A1;
    font-family: 'Comfortaa';
  }

  .eventInput.error {
    border: 2px solid red;
  }

  #cancelButton, #deleteButton {
    background-color: #B26a54;
  }

  #saveButton, #closeButton {
    background-color: #89997f;
  }

  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 300vh;
    position: absolute;
    background-color: rgba(47, 44, 44, 0.8);;
  }

  #weekdays div span {
    text-align: center;
  }

  .hidden-mobile {
    display: block;
  }

  .hidden-desktop {
    display: none;
  }

  /* Samstage */
  .day:nth-child(7n-1) {
    background: #afb2a1;
  }
  .day+ .day:nth-child(7n-1):hover {
    background: #929c8b;
  }


  /* Sonntage */
  .day:nth-child(7n) {
    background: #89997f;
  }
  .day + .day:nth-child(7n):hover {
    background: #667758
  }



  /* mobile View */
  @media only screen and (max-width: 600px) {
    .hidden-mobile {
      display: none;
    }
      
    .hidden-desktop {
      display: block;
    }
      
    body {
      background-color: #e8ebdf;
    }

    .day {
      width: -webkit-fill-available;
      aspect-ratio: 1/1.5;
      max-height: 4rem;
      overflow: hidden;
    }
      
    #container {
      width: 100%;
    }
      
    #weekdays div {
      padding: 0;
      overflow: hidden;
    }
      
    #newEventModal, #deleteEventModal {
      margin: 0 20px;
      left: 0;
      width: -webkit-fill-available;
    }
      
    #monthDisplay {
      max-width: 50%;
    }
      
    p {
      margin: 0;
    }
      
    #eventTitle, #eventDescription {
      margin: 0 0 1rem 0;
    }
      
    #calendar {
      grid-template-columns: repeat(7, 13%);
      gap: 1.5%;
    }
  }


.amount_num {
  color: white;
  background: #7c6761;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  height: 1rem;
  align-items: center;
  justify-content: center;
  font-size: xx-small;
  margin-left: 0.25rem;
}

.amount_num:empty {
  background: unset;
}

.day span {
  display: flex;
}

/* List */

.heading {
  font-size: large;
  color: black;
}

.description {
  color: #667758;
}

.dateItem {
  padding: 1rem;
}

.dateItem:nth-child(even) {
  background-color: #F7F0E4;
}
