body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
    font-family: 'Comfortaa';
  }

  h1, h2, h3, h4 {
    font-family: 'Comfortaa';
  }

  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: 'Comfortaa';
  }
  
  #header {
    font-weight: bold;
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    color: #247BA0;
  }
  #weekdays div {
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  .day {
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }

  .day + #currentDay:hover{
    background-color: #18695a;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  .eventInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  .eventInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
  #weekdays div span {
    text-align: center;
  }
  .hidden-mobile {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }

  /* Samstage */
  .day:nth-child(7n-1) {
    background: grey;
  }
  /* Sonntage */
  .day:nth-child(7n) {
    background: lightgrey;
  }

  /* mobile View */
  @media only screen and (max-width: 600px) {
    .hidden-mobile {
      display: none;
    }
    .hidden-desktop {
      display: block;
    }
    body {
      background-color: #FFFCFF;
    }
    .day {
      width: -webkit-fill-available;
      aspect-ratio: 1/1.5;
      height: -webkit-fill-available;
      max-height: 4rem;
      overflow: hidden;
    }
    #container {
      width: 100%;
    }
    #weekdays div {
      padding: 0;
      overflow: hidden;
    }
    #newEventModal, #deleteEventModal {
      margin: 0 20px;
      left: 0;
      width: -webkit-fill-available;
    }
    #monthDisplay {
      max-width: 50%;
    }
    p {
      margin: 0;
    }
    #eventTitle, #eventDescription {
      margin: 0 0 1rem 0;
    }
    #calendar {
      grid-template-columns: repeat(7, 13%);
      gap: 1.5%;
    }
  }

  /* List */

  .List__date {
    color: red;
  }